<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I'm a full-stack <b>remote</b> developer passionated about building things. I love to see ideas turning into usable and valuable software and, for me,
       being a full-stack developer is the best way to achieve that. But of course, software development isn't everything about creating
       successful products in the long term, that's why I'm always learning as much as possible about the holistic process of running a software based company.
    </p> 
    
    <p>In the past 2 years I've been working as a full-remote employee at <a target="_blank" href="http://nebulab.io">Nebulab</a> 
        and now I'm addicted to this lifestyle. I believe that people can do better working in the best environment, which varies from people to people.
        So, in my opinion, working at home is the perfect solution for that, since you can be around everything you need to be the most productive you can.
        Yet, this kind of work is very challenging because you need to be organized both on your personal and professional life.
        It wasn't easy to get used to it, but since I embraced this challenge I'm happier and more productive than ever.
    </p>
</div><!--//summary-->
</section><!--//section-->
