<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I'm a full-stack developer passionate about solving problems. I love to see ideas turning into usable and valuable software and, for me,
       being a full-stack developer is the best way to achieve that. In the past few years I've been involved in different projects 
       that share something in common: they're all trying to solve problems in the world to make people's life better.
    </p>

    <p>I think that technology can bring great things to our socicety and it's my generation's duty to make sure that
       all the technology being created is used for improving our lives.
    </p>

    <p>One thing that I found out about myself recently is that I love to teach. It brings me so much joy when I'm able to speak about 
       something that I know and somehow inspire other people. I believe that the main path for developing technology that improves 
       our society is through education. That's why I'm willing to make teaching another part of my professional career.
    </p>
</div><!--//summary-->
</section><!--//section-->
