<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Carreira Profissional</h2>
<div class="summary">
    <p>Eu sou um desenvolvedor full-stack apaixonado por solucionar problemas.
       Eu amo ver ideias se tornando software e eu acredito que ser um desenvolvedor full-stack
       é o melhor caminho para isso.
    </p>

    <p>Eu penso que a tecnologia pode trazer coisas ótimas para a nossa sociedade
       e o dever da minha geração é garantir que toda tecnologia sendo criada está sendo
       usada para melhorar nossas vidas.
    </p>

    <p>Uma coisa que eu descobri sobre mim mesmo recentemente é que eu amo ensinar.
       Me traz muita alegria falar sobre assuntos que eu gosto e de certa forma inspirar
       outras pessoas. Eu acredito que o principal caminho para desenvolver tecnologias que
       melhorem nossa sociedade é através da educação. Por esse motivo um dos meus objetivos
       profissionais é me tornar um professor. 
    </p>
</div><!--//summary-->
</section><!--//section-->
