 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">BSc in Information Systems</h4>
    <h5 class="meta">Federal University of Minas Gerais (UFMG)</h5>
    <div class="time">2014 - Present</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Technical degree in Computer Networks</h4>
    <h5 class="meta">CEFET-MG</h5>
    <div class="time">2011 - 2014</div>
</div><!--//item-->
</div><!--//education-container-->
