<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full Stack Blockchain Developer</h3>
                            <div class="time">May 2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Utopian.io, Planet Earth</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Utopian.io is a wonderful project which I'm really proud to be part of. We are empowering a community of people
                        to create awesome projects using free and open-source software. We are building tools to help them grow
                        and sustain their projects in the long-run.
                        </p>
                        <p> I was hired to work in the development of the 2nd version of the platform (Utopian v2). And we're using 
                        Node.js for the backend and vue.js with the Quasar framework in the frontend. The platform is built on top of the
                        Steem blockchain and will integrate with some of the biggest blockchains out there.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
 
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full Stack Ethereum Developer</h3>
                            <div class="time">Sep 2017 - May 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Swapy Network, Belo Horizonte</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>During the 9 months I was working at Swapy, I learned a lot about blockchain, business, and development.
                           I had a lot of fun going through a few challenges, such as
                           <a href="https://medium.com/swapynetwork/integrating-metamask-with-electron-a-simple-secure-and-non-intrusive-approach-517a04da1656" target="_blank">connecting a Chrome extension (MetaMask) within an Electron application</a> and
                           <a href="https://medium.com/swapynetwork/integrating-metamask-with-electron-a-simple-secure-and-non-intrusive-approach-517a04da1656" target="_blank">using uPort to manage identity in our dapp</a>.
                           It was a great experience, especially because of the team. We built a strong culture of learning
                           with our mistakes and improving ourselves as developers, at the same time we became great friends.
                           After working for 2 years as a fully-remote employee, I was missing the social relationships that
                           are developed within a company's office, so that was really great for me.
                        </p>
                        <p> After start working at Swapy, I became a lot more interested in blockchain and
                            its potential to change the world. Today I'm really enthusiastic about this technology, which I truly
                            believe that it will bring great progress to our world.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full Stack Developer</h3>
                            <div class="time">Aug 2015 - Aug 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Nebulab, San Antonio (Remote)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> I was hired to work as a Frontend Developer, but since the beginning, I got involved with the backend as well.
                          In Nebulab we've been developing a tool to help researchers throughout the data management process that can be very complex.
                          From data storage to contextualization, the software handles different kinds of research data and on top of that is built
                          for a strong teamwork among lab members, including task management, role/permission management, etc.
                        </p>  
                        <p> Since we're a small startup with just 3 engineers, we were always involved in all the process of developing the products,
                          from creating new features to managing data in S3 servers. So in the past 2 years, I've been involved with AngularJs, NodeJs,
                          Mongo, MySQL, Redis, Amazon AWS and S3, Codeship and many other tools, as well in the business side where we all worked together
                          doing customer development and market research.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Development Intern / Lead Developer</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Zeedhi, Belo Horizonte</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>This was my first job and I was hired as an intern to work in the development of an internal tool 
                          for <a href="https://teknisa.com" target="_blank">Teknisa</a>. The software was a "visual" tool
                          to build cross-platform apps called Developer Studio. During the 1 year that I worked there, I became the lead
                          developer of Developer Studio and learned a lot in the process.
                      </p>
                      <p>In this job I worked with AngularJs, PHP, MySQL and had my first contact with simple scripts in NodeJs.
                      </p>
                        
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
