<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full Stack Developer</h3>
                            <div class="time">Aug 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Nebulab, San Antonio (Remote)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> I was hired to work as a Frontend Developer, but since the beginning I got envolved with the backend as well.
                          In Nebulab we've been developing a tool to help researchers throughout the data management process that can be very complex.
                          From data storage to contextualization, the software handles different kinds of research data and on top of that is built
                          for a strong team work among lab members, including task management, role/permission management, etc.
                        </p>  
                        <p> Since we're a small startup with just 3 engineers, we were always envolved in all the process of developing the products,
                          from creating new features to managing data in S3 servers. So in the past 2 years I've been envolved with AngularJs, NodeJs,
                          Mongo, MySQL, Redis, Amazon AWS and S3, Codeship and many other tools, as well in the business side where we all worked together
                          doing customer development and market research.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Development Intern / Lead Developer</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Zeedhi, Belo Horizonte</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>This was my first job and I was hired as an intern to work in the development of an internal tool 
                          for <a href="https://teknisa.com" target="_blank">Teknisa</a>. The software was a "visual" tool
                          to build cross-platform apps called Developer Studio. During the 1 year that I worked there I became the lead
                          developer of Developer Studio and learned a lot in the process.
                      </p>
                      <p>In this job I worked with AngularJs, PHP, MySQL and had my first contact with simple scripts in NodeJs.
                      </p>
                        
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
