<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiências</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Desenvolvedor Full Stack com ênfase em Blockchain</h3>
                            <div class="time">Maio de 2018 - Presente</div>
                        </div><!--//upper-row-->
                        <div class="company">Utopian.io, Planeta Terra</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>O Utopian.io é um projeto incrível do qual tenho muito orgulho de fazer parte.
                           Nós estamos criando oportunidades para uma comunidade de pessoas criarem
                           projetos que usem software livre e open-source. Nós estamos construindo ferramentas
                           para ajudá-los a desenvolver, crescer e sustentar seus projetos no longo prazo.
                        </p>
                        <p>Eu fui contratado para trabalhar no desenvolvimento da segunda versão
                           da plataforma (Utopian v2). Nós estamos usando Node.js para o backend e vue.js
                           com o framework Quasar para o frontend. O sistema utiliza o Steem como base
                           e vai integrar com as principais blockchains da atualidade.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
 
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Desenovlvedor Full Stack com ênfase em Ethereum</h3>
                            <div class="time">Setembro de 2017 - Maio de 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Swapy Network, Belo Horizonte</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Durante os 9 meses em que eu trabalhei na Swapy, eu aprendi muito sobre blockchain, negócios e desenvolvimento de software.
                           Eu me diverti bastante enfrentando alguns desafios como 
                           <a href="https://medium.com/swapynetwork/integrating-metamask-with-electron-a-simple-secure-and-non-intrusive-approach-517a04da1656" target="_blank">conectar uma extensão de browsers (MetaMask) com um aplicativo desktop (Electron)</a> and
                           <a href="https://medium.com/swapynetwork/using-uport-to-manage-identity-and-signing-transactions-in-swapy-exchange-fdcffea19326" target="_blank">usar o uPort para o gerenciamento de identidades no nosso dapp</a>.
                           Foi uma experiência fantástica, especialmente por causa do time. Nós construímos uma cultura forte
                           de aprender com nossos erros e melhorar todos os dias como desenvolvedores, além de nos tornarmos grandes amigos.
                           Depois de trabalhar 2 anos de forma remota, eu estava sentindo falta nas interações sociais
                           que ocorrem no ambiente empresarial, portanto isso foi muito bom para mim.
                        </p>
                        <p>Depois de começar a trabalhar da Swapy, eu me interessei ainda mais pela tecnologia da blockchain
                           e no seu potencial para mudar o mundo. Hoje em dia, eu me considero um entusiasta da blockchain
                           e realmente acredito que a tecnologia irá trazer grandes progressos para o mundo.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Desenvolvedor Full Stack</h3>
                            <div class="time">Agosto de 2015 - Agosto de 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Nebulab, San Antonio (Remote)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Eu fui contratado para trabalhar como desenvolvedor frontend, mas desde o começo
                           estive envolvido também com o backend. Na Nebulab nós estávamos desenvolvendo uma ferramenta
                           para ajudar pesquisadores no processo de gerenciamento de dados que pode ser bem complicado.
                           Desde o armazenamento até a contextualização de dados, o software lidava com diferentes tipos de dados
                           de pesquisas e em cima disso focava em suportar o trabalho em equipe entre membros de laboratórios,
                           fornecendo funcionalidades como gerenciamento de tarefas, gerenciamento de permissões de usuários, etc.
                        </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Estagiário de Desenovlvimento</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Zeedhi, Belo Horizonte</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Esse foi o meu primeiro emprego e eu fui contratado como estagiário
                          para trabalhar no desenvolvimento de uma ferramenta interna para 
                          a <a href="https://teknisa.com" target="_blank">Teknisa</a>. O software
                          era uma ferramenta visual para criar aplicativos para múltiplas plataformas e era chamado Developer Studio.
                          Durante o ano que eu trabalhei lá eu aprendi bastante e me tornei o principal responsável pela
                          ferramenta.
                      </p>
                        
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
