<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Side-projects and other stuff that I worked/am working on.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a target="_blank" href="http://programalemonade.com/eat-up/">EatUp</a></span> - <span class="project-tagline">An unsucceded attempt to create a software to manage social media of restaurants. We were accelerated at <a href="http://programalemonade.com/" _targe="blank">Lemonade</a>.</span>
               
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/icaroharry/sort" target="_blank">Sort</a></span> - 
                    <span class="project-tagline">A benchmark library for testing sorting methods in C and CUDA. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/icaroharry/steembot" target="_blank">Steembot</a></span> - <span class="project-tagline">A Telegram bot that interacts with the cryptocurrency Steem API.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/icaroharry/lesma" target="_blank">Lesma</a></span> - <span class="project-tagline">A program that complains on Twitter to your Internet Provider if your connection is too slow. </span>
                </div><!--//item-->
   
            </section><!--//section-->
