<section class="section projects-section">
<h2 class="section-title"><i class="fa fa-archive"></i>Projetos</h2>
<div class="intro">
    <p>Alguns dos projetos em que trabalhei/estou trabalhando.</p>
</div><!--//intro-->
<div class="item">
    <span class="project-title"><a href="https://github.com/SwapyNetwork/electron-metamask-boilerplate" target="_blank">Electron-Metamask Boilerplate</a></span> - 
    <span class="project-tagline">Um boilerplate que permite criar facilmente uma versão desktop de aplicativos decentralizados do Ethereum, usando Electron (Muon) e MetaMask</span>.
</div><!--//item-->
<div class="item">
    <span class="project-title"><a href="https://github.com/icaroharry/sort" target="_blank">Sort</a></span> - 
    <span class="project-tagline">Uma biblioteca que testa e compara métodos de ordenação escritos em C e CUDA. </span>
</div><!--//item-->
<div class="item">
    <span class="project-title"><a href="https://github.com/icaroharry/you-need-an-automatic-budget" target="_blank">You Need an Automatic Budget</a></span> - 
    <span class="project-tagline">Eu sou muito preguiçoso pra registrar minhas despesas financeiras manualmente, por isso eu criei um software que faz isso pra mim :)</span>
</div><!--//item-->
<div class="item">
    <span class="project-title"><a href="https://github.com/icaroharry/steembot" target="_blank">Steembot</a></span> - <span class="project-tagline">Um robô do Telegram que integrate com a blockchain do Steem.</span>
</div><!--//item-->
</section><!--//section-->
